name: CI

on:
  pull_request:
  push:
    branches: [main]

jobs:
  rust:
    strategy:
      matrix:
        os: [ubuntu-24.04, macos-15]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Cache Cargo build files
        uses: actions/cache@v4
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
            target
          key: >-
            ${{ runner.os }}-cargo-${{
            hashFiles('Cargo.lock') }}
          restore-keys: |
            ${{ runner.os }}-cargo

      - name: Clippy
        run: cargo clippy -- -D warnings

      - name: Test
        run: cargo test

  haskell:
    strategy:
      matrix:
        os: [ubuntu-24.04, macos-15]
    runs-on: ${{ matrix.os }}
    defaults:
      run:
        working-directory: ./haskell
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Stack
        uses: haskell-actions/setup@v2
        with:
          enable-stack: true
          stack-no-global: true

      - name: Cache Stack build files
        uses: actions/cache@v4
        with:
          path: |
            ~/.stack
            haskell/.stack-work
          key: >-
            ${{ runner.os }}-stack-${{
            hashFiles('haskell/stack.yaml.lock', 'haskell/package.yaml') }}
          restore-keys: |
            ${{runner.os}}-stack

      - name: Test
        run: stack test --ghc-options="-O2"

      - name: Copy binary to ~/.local/bin so it can be uploaded
        run: stack install

      - name: Upload ${{ runner.os }} Release
        uses: actions/upload-artifact@v4
        with:
          path: ~/.local/bin/haskell-template
          name: haskell-template_${{ runner.os }}_${{ runner.arch }}
